<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<link href="../static/js/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/global.js"></script>
<script type="text/javascript" src="../static/js/jquery.autotextarea.js"></script>
		<title></title>
	</head>
	<body>
				<div id="dcWrap">
		 <div id="dcHead">
 <div id="head">
  <div class="logo"><a href=""><img src="../static/js/dclogo.gif" alt="logo"></a></div>
  <div class="nav">
   <ul class="navRight">
    <li class="M noLeft"><a href="JavaScript:void(0);">您好，admin</a>
     <div class="drop mUser">
      <a href="">编辑我的个人资料</a>
      <a href="">设置云账户</a>
     </div>
    </li>
    <li class="noRight"><a href="">退出</a></li>
   </ul>
  </div>
 </div>
</div>
</div>
	 <div id="dcLeft"><div id="menu">
 <ul class="top">
  <li><a href="home.html"><i class="home"></i><em>CMDB首页</em></a></li>
 </ul>
 
   <ul>
  <li><a href=""><i class="productCat"></i><em>服务器设备</em></a></li>
  <li><a href="./11.html"><i class="product"></i><em>网络设备</em></a></li>
  <li><a href=""><i class="articleCat"></i><em>PC资产</em></a></li>
  <li><a href=""><i class="article"></i><em>技术教程</em></a></li>
  </ul>

</div></div>
		<div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">CMDB管理中心<b>&gt;</b><strong>服务器信息</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="./添加.html" class="actionBtn add">添加服务器</a>服务器信息</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tbody><tr>
        <th width="120" align="left">服务器名称</th>
        <th width="60" align="center" >别名</th>
        <th awidth="60" align="center">服务器角色</th>
       <th width="60" align="center">IP</th>
        <th width="80" align="center">操作</th>
     </tr>
            <tr>
        <td align="left"> <a href="">电子数码</a></td>
        <td>digital</td>
        <td>电子产品销售</td>
        <td align="center">10</td>
        <td align="center"><a href="">编辑</a> | <a href="http://www.17sucai.com/preview/276064/2016-02-28/%E5%90%8E%E5%8F%B0%E6%A8%A1%E6%9D%BF1/product_category.php?rec=del&amp;cat_id=1">删除</a></td>
     </tr>
            <tr>
        <td align="left"> <a href="">智能手机</a></td>
        <td>phone</td>
        <td>智能手机销售</td>
        <td align="center">50</td>
        <td align="center"><a href="">编辑</a> | <a href="http://www.17sucai.com/preview/276064/2016-02-28/%E5%90%8E%E5%8F%B0%E6%A8%A1%E6%9D%BF1/product_category.php?rec=del&amp;cat_id=4">删除</a></td>
     </tr>
            <tr>
        <td align="left"><a href="">平板电脑</a></td>
        <td>tabletpc</td>
        <td>平板电脑销售</td>
        <td align="center">50</td>
        <td align="center"><a href="">编辑</a> | <a href="">删除</a></td>
     </tr>
            <tr>
        <td align="left"> <a href="">家居百货</a></td>
        <td>home</td>
        <td>家居百货产品销售</td>
        <td align="center">20</td>
        <td align="center"><a href="">编辑</a> | <a href="">删除</a></td>
     </tr>
            <tr>
        <td align="left"> <a href="">母婴用品</a></td>
        <td>baby</td>
        <td>母婴用品销售</td>
        <td align="center">30</td>
        <td align="center"><a href="">编辑</a> | <a href="">删除</a></td>
     </tr>
          </tbody></table>
           </div>
 </div>
	</body>
</html>
